<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blogs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>My Blogs</h1>
            <p><a href="/dashboard">Back to Dashboard</a></p>
            <p><a href="/logout">Logout</a></p>
        </header>
        <main>
            {{#if posts.length}}
                <ul>
                    {{#each posts}}
                        <li>
                            <div class="blog-container">
                                <a href="/blog/{{post_id}}">{{title}}</a>
                                <span>
                                    <a href="/edit/{{post_id}}">Edit</a>
                                    <a href="/delete/{{post_id}}">Delete</a>
                                </span>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>No blogs available.</p>
            {{/if}}
        </main>
        <footer>
            
        </footer>
    </div>
</body>
</html>
